.container{
	max-width: 750px;
	min-width: 32px;
	margin: 0 auto;
	padding: 60px 0 70px 0;
}
[class^="icon"]{
	display:inline-block;
	background: url(../img/icon.png) no-repeat;
	background-size: 375px auto;
}
header{
	height: 60px;
	background-color: #39435b;
	padding: 15px 0;
	position: fixed;
	width: 100%;
	max-width: 750px;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10;
	box-shadow: 0 1px 1px rgba(83,83,83,0.5);
}
.logo{
	width: 120px;
	height: 35px;
	float: left;
	margin-left: 10px;
}
header a{
	display: block;
	height: 100%;
}
header img{
	padding-left:-15px;
	z-index:-10;
}
.logo span{
	font-size: 14px;
	color: white;
	padding-left:87px;
	top: -30px;
	float: left;
	position: relative;
	
}
.login span{
	display: none;
}
.search{
	margin-top: 3px;
	width:calc(100% - 177px );
	float: left;
	position: absolute;
	left: 130px;
}
.search input{
	padding: 7px 10px;
	padding-left: 30px;
	width: 100%;
	border-radius: 25px;
	background-color: #e1e5ee;
}
.search:before{
	content: '';
	width: 35px;
	height: 35px;
	position: absolute;
	background-color: #fff;
	left: 0;
	background: url(../img/icon.png) no-repeat;
	background-size: 375px auto;
	background-position: -125px -2px;
}
.login{
	float: right;
	margin-right: 5px;
	width: 32px;
	height: 32px;
	background-position: -340px 0px;
}
/* 轮播图 */
.carousel{
	width: 100%;
	position: relative;
	overflow:hidden;
}
.banner-box{
	position: relative;
	width: 100%;
	-webkit-animation: autoPlay 10s ease-out infinite alternate;
}
.banner-box img{
	float: left;
	max-width: 750px;
	min-width: 320p;
}
@-webkit-keyframes autoPlay{
	0%,30%{
		margin-left: 0;
	}
	35%,65%{
		margin-left: -100%;
	}
	70%,100%{
		margin-left: -200%;
	}
}
nav{
	background: #fff;
	text-align: center;
	padding: 5px 0;
}
nav li{
	width: 46px;
	text-align: center;
	margin: 0 4.8%;
}
nav li a{
	display: block;
	padding-top: 50px;
}
.icon-index{
	background-position:-25px -115px;
}
.icon-boutique{
	background-position:-117px -115px;
}
.icon-special{
	background-position:-208px -115px;
}
.icon-brand{
	background-position:-300px -115px;
}
.products{
	margin-top: 10px;
	background-color: #fff;
}
main .hd{
	padding:0 10px;
	border-bottom: 1px solid #E1E5EE;
	line-height: 35px;
}
main em{
	padding-left:20px;
	font-weight: bold;
}
main span a{
	font-size: 12px;
	float: right;
	color: #f90;
}
main p:last-child{
	padding-top:10px ;
	text-align: center;
	color: #b4bac6;
}
.icon-book{
	background-position:0 -42px;
}
.book-list,.digital-list{
	display: -webkit-flex;
}
.book-list .left-list{
	-webkit-flex: 1.6;
	padding: 10px 0;
}
.book-list .right-list{
	-webkit-flex: 1.4;
	padding: 20px 10px;
	border-left: 1px solid #E1E5EE;
	padding-top: 40px;
}
.book-list .left-list > a > img{
	padding: 10px;
}
.book{
	display: -webkit-flex;
	border-top: 1px solid #E1E5EE;
	padding:10px 0 0 10px;
}
.book img{
	width: 94%;
}
.book a:first-child{
	-webkit-flex: 1;
}
.book a:last-child{
	-webkit-flex: 1;
}
.icon-digital{
	background-position:0 -82px;
}
.digital-list .left-list{
	-webkit-flex: 1;
	padding: 10px 5px;
	border-right: 1px solid #E1E5EE;
	padding-top: 35px;
}
.digital-list .right-list{
	-webkit-flex: 1;
	
	text-align: center;
}
.digital-list .right-list img{
	width: 50%;
	margin-top: 10px;
}
.digital-list .right-list a:last-child {
	display: block;
	margin-top: 10px;
	border-top: 1px solid #E1E5EE;
}
footer{
	width: 100%;
	max-width: 750px;
	height: 55px;
	text-align: center;
	background-color: #39435B;
	position: fixed;
	bottom: -1px;
	left: 0;
	right: 0;
	margin: auto;
	padding: 5px 0;
	box-shadow: 0 -1px 1px rgba(128,128,128,0.5);
}
footer li{
	width: 46px;
	text-align: center;
	
	margin: 0 4.8%;
}
footer li a{
	display: block;
	color:#E1E5EE;
	padding-top: 30px;
	width: 100%;
	height: 100%;
}
.icon-home{
	background-position:-16px -198px;
}
.icon-category{
	background-position:-119px -198px;
}
.icon-cart{
	background-position:-224px -198px;
}
.icon-my{
	background-position:-327px -198px;
}
footer li a:focus,footer li a:hover{
	color: #5bb2ff;
}
.icon-home-active{
	background-position:-16px -258px;
}
.icon-category-active{
	background-position:-119px -258px;
}
.icon-cart-active{
	background-position:-224px -258px;
}
.icon-my-active{
	background-position:-327px -258px;
}
footer li:first-child a{
	color: #5BB2FF;
}
