.container{
	max-width: 750px;
	min-width: 32px;
	margin: 0 auto;
	padding: 60px 0 70px 0;
}
[class^="icon"]{
	display:inline-block;
	background: url(../img/icon.png) no-repeat;
	background-size: 375px auto;
}
header{
	height: 60px;
	background-color: #39435b;
	padding: 15px 0;
	position: fixed;
	width: 100%;
	max-width: 750px;
	top: 0;left: 0;
	right: 0;
	margin: auto;
	z-index: 10;
	box-shadow: 0 1px 1px rgba(83,83,83,0.5);
}
header h4{
	line-height: 35px;
	color: #e1e5ee;
	width: calc(100% - 37px);
}
.logo{
	width: 120px;
	height: 35px;
	float: left;
	margin-left: 10px;
}
header a{
	display: block;height: 100%;
}
header img{
	padding-left:-15px;
	z-index:-10;
}
.logo span{
	font-size: 14px;
	color: white;
	padding-left:87px;
	top: -30px;
	float: left;
	position: relative;
}
.login span{
	display: none;
}
.title{
	margin-top: 3px;width:calc(100% - 177px );
	float: left;
	position: absolute;
	left: 90px;
	color: #e1e5ee;
	text-align: center;
	font-size: 20px;
}
.login{
	float: right;
	margin-right: 5px;
	width: 32px;
	height: 32px;
	background-position: -340px 0px;
}
main{
	margin:60px auto 0;
	max-width: 750px;
	background: #E1E5EE;
	overflow: hidden;
	min-height:calc(100% - 55px);
	box-shadow: 0 1px 1px rgba(83,83,83,0.5);
	overflow-y: hidden;
}
main input{
	display: block;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	background: #FFFFFF;
	padding: 5px 20px;
	font-size: 130%;
	color: black;
}
main #button{
	width: 100%;
	border-radius: 5px;
	border: 0;
	background: #39435A;
	color: white;
	font-size: 130%;
	position: fixed;
	bottom: 0;
	line-height: 50px;
	max-width: 750px;
	min-width: 32px;
}
#Reg-login{
	padding: 10px;
	text-align: center;
	border-top: 1px dashed #39435A;
}
main #regButton{
	width: 100%;
	background: #1F6CA1;
	color: #E1E5EE;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 0;
	line-height: 50px;
	height: 50px;
	max-width: 750px;
	min-width: 32px;
}
.disable{
	background: #B4B9C3!important;
}
#tip{
	padding: 10px;color:red;
}
#v_container{
	width: 100%;height: 80px;
}
#tip{
	padding: 10px;color:red;
}
